<header class="header-area">
           
    <div class="header-middle">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12 col-sm-4">
                    <div class="logo">
                        <a href="index.html">
                            <img alt="" src="assets/img/logo/logo.png" class="w-25">
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-12 col-sm-8">
                    <div class="header-middle-right f-right">
                       
                        <div class="header-wishlist">
                            <a href="#">
                                <div class="header-icon-style">
                                    <i class="icon-heart icons"></i>
                                </div>
                                <div class="wishlist-text">
                                    <p>Your <br> <span>Wishlist</span></p>
                                </div>
                            </a>
                        </div>
                        <div class="header-cart">
                            <a href="#">
                                <div class="header-icon-style">
                                    <i class="icon-handbag icons"></i>
                                    <span class="count-style">02</span>
                                </div>
                                <div class="cart-text">
                                    <span class="digit">My Cart</span>
                                    <span class="cart-digit-bold">$209.00</span>
                                </div>
                            </a>
                            <div class="shopping-cart-content">
                                <ul>
                                    <li class="single-shopping-cart">
                                        <div class="shopping-cart-img">
                                            <a href="#"><img alt="" src="assets/img/cart/cart-1.jpg"></a>
                                        </div>
                                        <div class="shopping-cart-title">
                                            <h4><a href="#">Phantom Remote </a></h4>
                                            <h6>Qty: 02</h6>
                                            <span>$260.00</span>
                                        </div>
                                        <div class="shopping-cart-delete">
                                            <a href="#"><i class="ion ion-close"></i></a>
                                        </div>
                                    </li>
                                    <li class="single-shopping-cart">
                                        <div class="shopping-cart-img">
                                            <a href="#"><img alt="" src="assets/img/cart/cart-2.jpg"></a>
                                        </div>
                                        <div class="shopping-cart-title">
                                            <h4><a href="#">Phantom Remote</a></h4>
                                            <h6>Qty: 02</h6>
                                            <span>$260.00</span>
                                        </div>
                                        <div class="shopping-cart-delete">
                                            <a href="#"><i class="ion ion-close"></i></a>
                                        </div>
                                    </li>
                                </ul>
                                <div class="shopping-cart-total">
                                    <h4>Shipping : <span>$20.00</span></h4>
                                    <h4>Total : <span class="shop-total">$260.00</span></h4>
                                </div>
                                <div class="shopping-cart-btn">
                                    <a href="#">view cart</a>
                                    <a href="#">checkout</a>
                                </div>
                            </div>
                        </div>

                         <div class="header-login ml-3">
                             <div class="account-curr-lang-wrap f-right">
                        <ul>
                           
                            <li class="top-hover "><div class="header-icon-style">
                                    <i class="icon-settings icons"></i>
                                   
                                </div><a href="#" class="secondary-color cart-text"> Setting  <i class="ion-chevron-down"></i></a>
                                <ul>
                                    <li><a href="#">Wishlist  </a></li>
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">Register</a></li>
                                    <li><a href="#">my account</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom transparent-bar primary-bg d-none d-md-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li class="top-hover"><a href="index.html">Home </a>
                                 
                                </li>
                               
                                <li class="mega-menu-position top-hover"><a href="shop.html">shop <i class="ion-chevron-down"></i></a>
                                    <ul class="mega-menu">
                                        <li>
                                            <ul>
                                                <li class="mega-menu-title brand-title"><a href="#">Categories 01</a></li>
                                                <li><a href="shop.html">salad</a></li>
                                                <li><a href="shop.html">sandwich</a></li>
                                                <li><a href="shop.html">bread</a></li>
                                                <li><a href="shop.html">steak</a></li>
                                                <li><a href="shop.html">tuna steak</a></li>
                                                <li><a href="shop.html">spaghetti </a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li class="mega-menu-title brand-title"><a href="#">Categories 02</a></li>
                                                <li><a href="shop.html">rice</a></li>
                                                <li><a href="shop.html">pizza</a></li>
                                                <li><a href="shop.html">hamburger</a></li>
                                                <li><a href="shop.html">eggs</a></li>
                                                <li><a href="shop.html">sausages</a></li>
                                                <li><a href="shop.html">apple juice</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li class="mega-menu-title brand-title"><a href="#">Categories 03</a></li>
                                                <li><a href="shop.html">milk</a></li>
                                                <li><a href="shop.html">grape juice</a></li>
                                                <li><a href="shop.html">cookie</a></li>
                                                <li><a href="shop.html">candy</a></li>
                                                <li><a href="shop.html">cake</a></li>
                                                <li><a href="shop.html">cupcake</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li class="mega-menu-title brand-title"><a href="#">Categories 04</a></li>
                                                <li><a href="shop.html">pie</a></li>
                                                <li><a href="shop.html">stoberry</a></li>
                                                <li><a href="shop.html">sandwich</a></li>
                                                <li><a href="shop.html">bread</a></li>
                                                <li><a href="shop.html">steak</a></li>
                                                <li><a href="shop.html">hamburger</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                              
                                <li class="top-hover"><a href="#">About </a>
                                    <ul class="submenu">
                                        <li><a href="#">Our Journey</a></li>
                                        <li><a href="#">Fairer Trade</a></li>
                                        <li><a href="#">Coffee Alchemy </a></li>
                                        <li><a href="#">Gumption</a></li>
                                        <li><a href="#">Micro</a></li>
                                    </ul>
                                </li>
                               
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Special Offer</a></li>
                               
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-area-start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul class="menu-overflow" id="nav">
                                 <li class="top-hover"><a href="index.html">Home </a>
                                 
                                </li>
                               
                                <li class="top-hover"><a href="shop.html">Shop <i class="ion-chevron-down"></i></a>
                                    <ul class="submenu">
                                    
                                       

                                                <li class="mega-menu-title"><a href="#">All Products</a></li>
                                                <li><a href="shop.html">Coffee Beans</a></li>
                                                <li><a href="shop.html">Gift Ideas 🎁</a></li>
                                                <li><a href="shop.html">Brewers & Filter Papers</a></li>
                                                <li><a href="shop.html">Retail & Accessories</a></li>
                                                <li><a href="shop.html">SALE STOCK</a></li>
                                          
                                          
                                      
                                     
                                    </ul>
                                </li>
                                <li class="top-hover"><a href="#">About </a>
                                    <ul class="submenu">
                                        <li><a href="#">Our Journey</a></li>
                                        <li><a href="#">Fairer Trade</a></li>
                                        <li><a href="#">Coffee Alchemy </a></li>
                                        <li><a href="#">Gumption</a></li>
                                        <li><a href="#">Micro</a></li>
                                    </ul>
                                </li>
                               
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Special Offer</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-area-end -->
</header>

 <!-- shopping-cart-area start -->
<div class="cart-main-area pt-50 pb-50">
    <div class="container-fluid">
        <h3 class="page-title">Your cart items</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table class="w-100">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Until Price</th>
                                    <th>Qty</th>
                                    <th>Subtotal</th>
                                    <th>action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="#"><img src="assets/img/cart/cart-3.jpg" alt=""></a>
                                    </td>
                                    <td class="product-name"><a href="#">PRODUCTS NAME HERE </a></td>
                                    <td class="product-price-cart"><span class="amount">$260.00</span></td>
                                    <td class="product-quantity">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="2">
                                        </div>
                                    </td>
                                    <td class="product-subtotal">$110.00</td>
                                    <td class="product-remove">
                                        <a href="#"><i class="fa fa-pencil"></i></a>
                                        <a href="#"><i class="fa fa-times"></i></a>
                                   </td>
                                </tr>
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="#"><img src="assets/img/cart/cart-4.jpg" alt=""></a>
                                    </td>
                                    <td class="product-name"><a href="#">PRODUCTS NAME HERE </a></td>
                                    <td class="product-price-cart"><span class="amount">$150.00</span></td>
                                    <td class="product-quantity">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="2">
                                        </div>
                                    </td>
                                    <td class="product-subtotal">$150.00</td>
                                    <td class="product-remove">
                                        <a href="#"><i class="fa fa-pencil"></i></a>
                                        <a href="#"><i class="fa fa-times"></i></a>
                                   </td>
                                </tr>
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="#"><img src="assets/img/cart/cart-5.jpg" alt=""></a>
                                    </td>
                                    <td class="product-name"><a href="#">PRODUCTS NAME HERE </a></td>
                                    <td class="product-price-cart"><span class="amount">$170.00</span></td>
                                    <td class="product-quantity">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="2">
                                        </div>
                                    </td>
                                    <td class="product-subtotal">$170.00</td>
                                    <td class="product-remove">
                                        <a href="#"><i class="fa fa-pencil"></i></a>
                                        <a href="#"><i class="fa fa-times"></i></a>
                                   </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update">
                                    <a href="#">Continue Shopping</a>
                                </div>
                                <div class="cart-clear">
                                    <button>Update Shopping Cart</button>
                                    <a href="#">Clear Shopping Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="cart-tax">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gray">Estimate Shipping And Tax</h4>
                            </div>
                            <div class="tax-wrapper">
                                <p>Enter your destination to get a shipping estimate.</p>
                                <div class="tax-select-wrapper">
                                    <div class="tax-select">
                                        <label>
                                            * Country
                                        </label>
                                        <select class="email s-email s-wid">
                                            <option>Bangladesh</option>
                                            <option>Albania</option>
                                            <option>Åland Islands</option>
                                            <option>Afghanistan</option>
                                            <option>Belgium</option>
                                        </select>
                                    </div>
                                    <div class="tax-select">
                                        <label>
                                            * Region / State
                                        </label>
                                        <select class="email s-email s-wid">
                                            <option>Bangladesh</option>
                                            <option>Albania</option>
                                            <option>Åland Islands</option>
                                            <option>Afghanistan</option>
                                            <option>Belgium</option>
                                        </select>
                                    </div>
                                    <div class="tax-select">
                                        <label>
                                            * Zip/Postal Code
                                        </label>
                                        <input type="text">
                                    </div>
                                    <button class="cart-btn-2" type="submit">Get A Quote</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="discount-code-wrapper">
                            <div class="title-wrap">
                               <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4> 
                            </div>
                            <div class="discount-code">
                                <p>Enter your coupon code if you have one.</p>
                                <form>
                                    <input type="text" required="" name="name">
                                    <button class="cart-btn-2" type="submit">Apply Coupon</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="grand-totall">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                            </div>
                            <h5>Total products <span>$260.00</span></h5>
                            <div class="total-shipping">
                                <h5>Total shipping</h5>
                                <ul>
                                    <li><input type="checkbox"> Standard <span>$20.00</span></li>
                                    <li><input type="checkbox"> Express <span>$30.00</span></li>
                                </ul>
                            </div>
                            <h4 class="grand-totall-title">Grand Total  <span>$260.00</span></h4>
                            <a href="#">Proceed to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-area black-bg-2 pt-70">
    <div class="footer-top-area pb-18">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-about mb-40">
                        <div class="footer-logo">
                            <a href="index.html">
                                <img src="assets/img/logo/footer-logo.png" alt="">
                            </a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                        <div class="payment-img">
                            <a href="#">
                                <img src="assets/img/icon-img/payment.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-widget mb-40">
                        <div class="footer-title mb-22">
                            <h4>Information</h4>
                        </div>
                        <div class="footer-content">
                            <ul>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="#">Delivery Information</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Return Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-widget mb-40">
                        <div class="footer-title mb-22">
                            <h4>My Account</h4>
                        </div>
                        <div class="footer-content">
                            <ul>
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="#">Order History</a></li>
                                <li><a href="wishlist.html">Wish List</a></li>
                                <li><a href="#">Newsletter</a></li>
                                <li><a href="#">Order History</a></li>
                                <li><a href="#">International Orders</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-widget mb-40">
                        <div class="footer-title mb-22">
                            <h4>Get in touch</h4>
                        </div>
                        <div class="footer-contact">
                            <ul>
                                <li>Address: 123 Main Street, Anytown, CA 12345 - USA.</li>
                                <li>Telephone Enquiry: (012) 800 456 789-987 </li>
                                <li>Email: <a href="#">Info@example.com</a></li>
                            </ul>
                        </div>
                        <div class="mt-35 footer-title mb-22">
                            <h4>Get in touch</h4>
                        </div>
                        <div class="footer-time">
                            <ul>
                                <li>Open:  <span>8:00 AM</span> - Close: <span>18:00 PM</span></li>
                                <li>Saturday - Sunday: <span>Close</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area border-top-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-7">
                    <div class="copyright">
                        <p>Copyright © <a href="#">Billy.</a> . All Right Reserved.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-5">
                    <div class="footer-social">
                        <ul>
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus-outline"></i></a></li>
                            <li><a href="#"><i class="ion-social-rss"></i></a></li>
                            <li><a href="#"><i class="ion-social-dribbble-outline"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
